* {
  /*height: 100%;*/
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(
    to bottom,
    #0455bf,
    #f2b705,
    #f29f05,
    #f27405,
    #f20505
  );
}
main {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px blueviolet;
  width: 500px;
  padding: 10px;
  margin: auto;
}
h1 {
  color: blue;
  text-align: center;
  text-shadow: 1px 1px 2px #f29f05b6;
}
h2 {
  color: red;
}
p {
  text-align: justify;
}
